@import url('https://fonts.googleapis.com/css?family=Raleway');

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  background-color: rgb(255, 71, 71);
  height: 100vh;
}

.nav {
  background-color: rgba(0,0,0,.5) !important;
  color: #fff;
}

.app-logo {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.hamburger {
  font-size: 2em;
}

.container.video-container {
  vertical-align: top;
  margin: 0;
  padding: 0;
  max-width: none;
  width: 100%;

}

.video-container {
  background: rgba(33,33,33,1);
  background: -moz-linear-gradient(left, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 50%, rgba(33,33,33,1) 100%);
  background: -webkit-linear-gradient(left, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 50%, rgba(33,33,33,1) 100%);
  background: linear-gradient(to right, rgba(33,33,33,1) 0%, rgba(0,0,0,1) 50%, rgba(33,33,33,1) 100%);
  width: 100%;
}

.video-player {
  display:block;
  margin-left: auto; margin-right: auto;
}

#queue
{
  overflow:scroll;
}

.videoPreview
{
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 0;
}

.videoPreview img
{
  width: 66.5px;
  height: 50px;
  float:left;
}

.videoPreview p
{
  float:left;
}
